<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Correo Electrónico de Ejemplo</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
    }
    header {
      background-color: #3498db;
      color: #ffffff;
      text-align: center;
      padding: 20px;
    }
    section {
      padding: 20px;
    }
    footer {
      background-color: #f2f2f2;
      padding: 10px;
      text-align: center;
    }
  </style>
</head>
<body>

  <header>
    <h1>¡Toyota!</h1>
  </header>

  <section>
    <p>Hola {{name}},</p>
    <p>Te enviamos un posible comprador su corrreo electronico es <span>{{message}}</span></p>
  </section>

  <footer>
    <p>© 2024 Tu Compañía. Todos los derechos reservados.</p>
  </footer>

</body>
</html>